/.venv/*

/__pycache__/*

mydatabase.db

/SailPoint\ Installation/*

auth.txt

/*.docx

/*.webm

/*.pdf

database_creation.py

drop_all_tables.py

insert_dummy_data.py

raise_request_entitlement.json

raise_request_role.json

raise_request.json

raise_request.py

test_app.py